<div class="edit-card">
    <mat-card class="material-form">
        <mat-card-header>
            <mat-card-title *ngIf="isAddMode">
                <mat-icon aria-hidden="false" aria-label="mode edit">edit</mat-icon>
                Add Goal
            </mat-card-title>
            <mat-card-title *ngIf="!isAddMode">
                <mat-icon aria-hidden="false" aria-label="mode edit">edit</mat-icon>
                Edit Goal
            </mat-card-title>

        </mat-card-header>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-card-content fxLayout="column" fxLayoutGap="1em">

                <h3 *ngIf="!isAddMode">Check-in</h3>
                <mat-form-field appearance="fill" *ngIf="!isAddMode">
                    <mat-label>Update Check-Ins</mat-label>
                    
                    <input matInput type="number" formControlName="checkin" />
                    <mat-icon matSuffix class="stars-icon">stars</mat-icon>
                </mat-form-field>

                <h3 *ngIf="!isAddMode">Edit Goal Details</h3>
                <mat-form-field appearance="fill">
                    <mat-label>Describe Goal</mat-label>
                    <input matInput type="text" formControlName="goalName" />
                    <mat-hint *ngIf="isAddMode">required *</mat-hint>
                    <mat-error *ngIf="submitted && f.goalName.errors">
                        Goal Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="goalType">
                        <mat-option>-</mat-option>
                        <mat-option value="Endurance">Endurance</mat-option>
                        <mat-option value="Strength">Strength</mat-option>
                        <mat-option value="Balance">Balance</mat-option>
                        <mat-option value="Flexibility">Flexibility</mat-option>
                        <mat-option value="General Fitness">General Fitness</mat-option>
                    </mat-select>
                    <mat-hint *ngIf="isAddMode">required *</mat-hint>
                    <mat-error *ngIf="submitted && f.goalType.errors">You must make a selection</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Frequency</mat-label>
                    <mat-select formControlName="frequency">
                        <mat-option>-</mat-option>
                        <mat-option value="1">Daily</mat-option>
                        <mat-option value="7">Weekly</mat-option>
                        <mat-option value="28">Monthly</mat-option>
                        <mat-option value="360">Yearly</mat-option>
                    </mat-select>
                    <mat-hint *ngIf="isAddMode">required *</mat-hint>
                    <mat-error *ngIf="submitted && f.frequency.errors">You must make a selection</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Duration</mat-label>
                    <mat-select formControlName="duration">
                        <mat-option>-</mat-option>
                        <mat-option value="1">1 Day</mat-option>
                        <mat-option value="7">1 Week</mat-option>
                        <mat-option value="28">1 Month</mat-option>
                        <mat-option value="56">2 Months</mat-option>
                        <mat-option value="90">3 Months</mat-option>
                        <mat-option value="180">6 Months</mat-option>
                        <mat-option value="360">1 Year</mat-option>
                    </mat-select>
                    <mat-hint *ngIf="isAddMode">required *</mat-hint>
                    <mat-error *ngIf="submitted && f.duration.errors">You must make a selection</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="loading" mat-raised-button color="primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <button mat-stroked-button routerLink="/goals">Cancel</button>
            </mat-card-actions>
        </form>
    </mat-card>

</div>