

    <h1 class="mat-display-1">Goals</h1>
    <button routerLink="add" mat-raised-button color="primary">Add Goal</button>&nbsp;

    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Strength" #input >
    </mat-form-field>

    <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- goalName Column -->
        <ng-container matColumnDef="goalName">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30"> Goal Name </mat-header-cell>
            <mat-cell *matCellDef="let goal" fxFlex="30"> {{goal.goalName}} </mat-cell>
        </ng-container>

        <!-- goalType Column -->
        <ng-container matColumnDef="goalType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Goal Type </mat-header-cell>
            <mat-cell *matCellDef="let goal"> {{goal.goalType}} </mat-cell>
        </ng-container>

        <!-- frequency Column -->
        <ng-container matColumnDef="frequency">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </mat-header-cell>
            <mat-cell *matCellDef="let goal"> {{goal.frequency | frequency}} </mat-cell>
        </ng-container>

        <!-- duration Column -->
        <ng-container matColumnDef="duration">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
            <mat-cell *matCellDef="let goal"> {{goal.duration | duration}} </mat-cell>
        </ng-container>

        <!-- checkin Column -->
        <ng-container matColumnDef="checkin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Success Rate </mat-header-cell>
            <mat-cell *matCellDef="let goal"> {{calcSuccessrate(goal.checkin, goal.frequency, goal.duration) | success}} </mat-cell>
        </ng-container>

        <!-- delete / update Column -->
        <ng-container matColumnDef="cta">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let goal">
                <button mat-raised-button color="primary" routerLink="edit/{{goal.id}}">Update Goal</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
